<h1>BS Challenge</h1>

<div id="container" style="height: 400px"></div>
<button id="button_usd">USD</button>
<button id="button_eur">EUR</button>
<button id="button_ars">ARS</button>
<%= render "chart" %>
